
.right-line{
	
	border-right:.5px solid black;
	border-color:gray;
	height:20px;
	
	
}
.gray{
	
	color:#2E2E2E;
	
}

.li-gray{
	
	
	color:gray;
}
.no-padding{
	padding:0;
	margin:0;
}
.top{
	
	padding-top:.5%;
	padding-bottom:.5%;
	
}

.more-top{
	
	padding-top:1%;
}

.more-bottom{
	
	padding-bottom:1%;
	
}

.more-top-bottom{
	
	padding-top:2%;
	padding-bottom:2%;
	
}

.info{
	position:absolute;
	top:.1px;
	z-index:999;
	background-color:rgba(255,255,255,.6);
	
	
}

.less-left{
	
	padding-left:3%;
	
}
.left{
	
	padding-left:4%;
	
}

header{
	
	position:absolute;
	top:70px;
	left:0;
	width:100%;
	background-color:transparent;
	z-index:11;
}

header .main-menu{}
header .logo{
	
	margin:5%;
}
header .logo a{}

header .main{}
header .main ul{}
header .main ul li{
	
	display:inline-block;
	margin:1%;
	padding-top:.5%;
}
header .main ul li a{
	text-decoration:none;
	
	
}

header .main ul li a:hover{
	color:#373636;
	
}

article{
	
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	background-color:rgba(255,255,255,.6);
	z-index:11;
}


article .information{}

article .infor{}
article .infor ul{}
article .infor ul li{
	
	display:inline-block;
	margin:1%;
	
}
article .infor ul li a{
	color:#2E2E2E;
	
	
}

article .infor ul li a:hover{
	text-decoration:none;
	color:red;
	
	
}

.menu-bar-btn{
	margin-top:-70%;
}

.menu-bar-left-btn{
	
	padding-left:609px;
	
}
.right{
	padding-right:4%;
	padding-top:.5%;
	
	
}


.btn-danger{
	
	background-color:#DF0404;
	border-color:#DF0404;
	border-radius:50px;
	
}


.bar2{
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.bar1,.bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin-left: 5px;
    transition: 0.4s;
	
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 3px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
    transform: rotate(45deg) translate(-6px, -6px) ;
}


.sliding h1{
	
	position:absolute;
	top:250px;
	left:300px;
	color:#2E2E2E;
	
}
.sliding p{
	
	position:absolute;
	top:350px;
	left:300px;
	color:#424242;
	
}
.btn-defaul{
	
	
	position:absolute;
	top:450px;
	left:300px;
	border-radius:50px;
	background-color:#DF0404;
	border-color:#DF0404;
	color:white;
}

.sliding .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .5;
}
.sliding .slider-img{
	
	width:100%;
	height:100vh;
	min-height: 300px;
	
}

.carousel-item {
	
  height: 100vh;
  min-height: 300px;
  width:100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*say*/


.say{
	
	padding-top:3%;
	padding-bottom:3%;
	
}

.say h2{
	
	color:#2E2E2E;
}

.say .line{
	
	border-bottom: 2px solid #DF0404;
	width:40%;
	
}


/*review*/

.review .dark-gray{
	
	background-color:#292929;
	
}

.review .light-gray{
	
	background-color:#878c88;	
}

.review img{
	
	width:100%;
	height:100%;
}

.review .dark-red{
	
	background-color:#DF0404;
	
}

.review h5{
	
	color:white;
	padding-top:14%;
	padding-bottom:6%;
	
}

.review h6{
	
	color:white;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:10%;
	
}

.absolute1{
	
	position:absolute;
	top:22px;
	left:100px;
}


.absolute2{
	
	position:absolute;
	top:143px;
	
}

/*plus*/

.plus h1{
	
	position:static;
	
}

.plus p{
	
	position:static;
	
}

.plus button{
	position:static;
	
	
}
.plus img{
	
	width:60%;
}



/*testimonial*/

.testimonial{
	
	background-color:#f5f5f5;
}

.testimonial img{
	
	width:80%;
}

.testimonial .dot{
	
	width:15%;
	
}

.testimonial h1{
	
	position:static;
	color:#666666;
	
}

.testimonial p{
	
	position:static;
	padding-right:5%;
}

.testimonial{
	
	background-color:#f5f5f5;
}
/*blockquote*/

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
  
}

blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:left;
    font-size:10em;
    line-height: 1;
    left:-60px;
    bottom:-0.8em;
    content: "\201D";
	color:#cccccc;
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}

/*carousol */



.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


/*headline*/

.headline h6{
	
	color:gray;
	padding-left:2%;
	
	
}

.headline .btn-defaul{
	position:static;
	border-radius:50px;
	background-color:#DF0404;
	border-color:#DF0404;
	color:white;
	
}

/*table*/


.table-scroll{
	
	overflow: scroll;
    overflow-x: hidden!important;
	height:315px;
	width:100%;
	
}


.table-height{
	
	
	height:330px;
	width:100%;
	
}

.table .table-img{
	
	height:350px;
	width:100%;
	
}
.table .overlay-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.table .dark-gray{
	
	background-color:#292929;
	
}
.table .bg{
	
	background-color:#292929;
	
}

.table h2{
	
	color:gray;
	margin:8%;
	font-size:300%;
}


.table h5{
	
	color:red;
	padding-top:1%;
}
.table h6{
	
	color:white;
	padding-bottom:5%;
}

.table .line{
	
	border-bottom:1px solid gray;
	width:100%;
}
.table .left-right{
	
	padding-left:5%;
	padding-right:5%;
}

.table .dark-gray .button-scroll {
    margin-left: -30px;
    margin-right: -30px;
	
}

.table .dark-gray .button-scroll .btn {
    border-radius: 0px; 
}

.table .dark-gray .button-scroll .left-btn {
    width: 49%;
}

.table .dark-gray .button-scroll .right-btn {
    width: 49%;
    margin-left: 2%;
}



/*img-showcase*/


#project {
    margin-bottom: 30px;
}

#project .project_menu {
    margin-top: 30px;
}

#project img{
	
	height:100%;
	width:100%;
}

#project .project_menu a {
    color: #878c88;
    text-decoration: none;
}

#project .project_menu .button_project {
    border-radius: 20px;
    background-color: #DF0404;
    border: none;
}

#project .project_img_thumb {
    margin-top: 10px; 
}



/*top-footer*/

#top-footer {
    width: 100%;
    height:100%;
    padding: 40px 20px;
    background-color: #212121;
}

#top-footer .block_one {
    border-right: 1px solid #4d4d4d;
}

#top-footer .block_one img {
    margin-top:5%; 
}

#top-footer .block_one h5 {
    margin-top: 8%;
    font-size: 95%;
    color: #ADADAD;
}

#top-footer .block_one span {
    color: #DF0404;
}

#top-footer .block_one ul li {
    margin-top: 10%;
    margin-left: -40px;
    list-style-type: none;
    line-height: 5px;
    color: #ADADAD;
}

#top-footer .block_two {
    border-right: 1px solid #4d4d4d;
	padding-top:2%;
}

#top-footer .block_two h4 {
    margin-top: 10px;
    font-size: 140%;
    color: #ADADAD;
	padding-bottom:2%;
	
}

#top-footer .block_two h5 {
    margin-top: 9%;
    font-size: 85%;
    color: #ADADAD;
}

#top-footer .block_three {
    border-right: 1px solid #4d4d4d;
    margin-left: 20px;
	padding-top:2%;
}

#top-footer .block_three h4 {
    margin-top: 4%;
    font-size: 140%;
    color: #ADADAD;
	padding-bottom:5%;
}

#top-footer .block_three ul li {
    list-style-type: none;
    margin-top: 8%;
    margin-left: -40px;
    font-size: 85%;
    line-height: 10px;
    color: #ADADAD;
}

#top-footer .block_four {
    margin-right: 10px;
    margin-left: 10px;
	padding-top:1.8%;
}

#top-footer .block_four h4 {
    margin-top: 9%;
    font-size: 140%;
    color: #ADADAD;
	padding-bottom:10%;
}

#top-footer .block_four .form-control {
    background-color:#333333;
	color:#4d4d4d;
	border:none;
	width:140%;
	
}


#top-footer .block_four .btn-primary {
    border-radius:50px;
	background-color:#DF0404;
	border-color:#DF0404;
	color:white;
}


/*bottom-footer*/

#bottom-footer {
    width: 100%;
    height: 60px;
    padding: 5px 5px;
    background-color: #252324;
}

#bottom-footer .left_cp {
    font-size: 12px;
    padding-top: 15px;
    color: #ADADAD;
}

/* Bottom footer social icons */
#bottom-footer .fa {
    padding: 12px;
    font-size: 15px;
    width: 38px;
    text-align: center;
    text-decoration: none;
    margin: 8px 3px;
    border-radius: 50%;
}

#bottom-footer .fa:hover {
    opacity: 0.7;
}

#bottom-footer .fa-facebook {
  background: #3B5998;
  color: white;
}

#bottom-footer .fa-twitter {
  background: #55ACEE;
  color: white;
}

#bottom-footer .fa-google {
  background: #dd4b39;
  color: white;
}

#bottom-footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

#bottom-footer .fa-youtube {
  background: #bb0000;
  color: white;
}

#bottom-footer .fa-instagram {
  background: #125688;
  color: white;
}

#bottom-footer .fa-pinterest {
  background: #cb2027;
  color: white;
}

#bottom-footer .fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#bottom-footer .fa-skype {
  background: #00aff0;
  color: white;
}

#bottom-footer .fa-android {
  background: #a4c639;
  color: white;
}

#bottom-footer .fa-dribbble {
  background: #ea4c89;
  color: white;
}

#bottom-footer .fa-vimeo {
  background: #45bbff;
  color: white;
}

#bottom-footer .fa-tumblr {
  background: #2c4762;
  color: white;
}

#bottom-footer .fa-vine {
  background: #00b489;
  color: white;
}

#bottom-footer .fa-foursquare {
  background: #45bbff;
  color: white;
}

#bottom-footer .fa-stumbleupon {
  background: #eb4924;
  color: white;
}

#bottom-footer .fa-flickr {
  background: #f40083;
  color: white;
}

#bottom-footer .fa-yahoo {
  background: #430297;
  color: white;
}

#bottom-footer .fa-soundcloud {
  background: #ff5500;
  color: white;
}

#bottom-footer .fa-reddit {
  background: #ff5700;
  color: white;
}

#bottom-footer .fa-rss {
  background: #ff6600;
  color: white;
}


